<?xml version="1.0"?>
<launch>
    <arg name="leader_ip" default="10.162.83.121" doc="left robot from user persepective standing in front of the robots for a robot setup according to $(find franka_description)/robots/dual_panda/dual_panda_example.urdf.xacro" />
    <arg name="follower_ip" default="10.162.83.122" doc="right robot from user persepective standing in front of the robots for a robot setup according to $(find franka_description)/robots/dual_panda/dual_panda_example.urdf.xacro" />
    
    <arg name="debug" default="true" doc="publish debug information and enable dynamic parameter tuning" />
    <arg name="load_gripper" default="true" doc="start teleoperation for the grippers (full open/close is mirrored to follower)" />
    <arg name="gripper_homed" default="true" doc="is the gripper already homed? If not the gripper will perform an initial homing motion" />

    
    <include file="$(find tele_operation)/launch/teleop_joint_pd_example_controller.launch" pass_all_args="true"/>

    <include file="$(find realsense2_camera)/launch/rs_camera.launch" />

    <node name="interactive_marker" pkg="tele_operation" type="teleop_interactive_marker.py" required="true" output="screen">
        <param name="link_name" value="leader_link0" />
        <remap from="equilibrium_pose" to="/teleop_joint_pd_example_controller/leader/equilibrium_pose" />
    </node>
    
</launch>
